{% extends "base.jinja2" %}

{% block content %}
    <div class="login-content">
        <div class="login-btn-container">
            <form method="post" action="{{ url_for('login.authenticate') }}">
                <button type="submit" class="btn btn-primary">
                    Log in With Twitter
                </button>
            </form>
        </div>
    </div>
{% endblock %}